* {
    font-family: "Arial", "Verdana", sans-serif;
    margin: auto;
}

.chosen-button {
    color: #768d87;
    text-decoration: underline;
    padding: 10px 30px 10px 30px;
    font-weight: bold;
}

.button {
  text-decoration: none;
  color: black;
  padding: 10px 30px 10px 30px;
}

.centered {
    width:900px;
    margin-left:auto;
    margin-right:auto;
    padding-top: 20px;
    padding-bottom: 40px;
}

img {
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    width:50px;
    height:50px;
}

div #navmenu {
  margin-right: 20px;
  padding-top: 32px;
}

div #navbarIndex {
    margin-bottom: 70px;
    padding-top: 70px;
    background-color: red;
}

header {
    text-align: right;
    background-color:#66cdaa;
    padding-bottom: 10px;
}

body {
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){
    background-color: #eee
}

.textfield {
    height: 2em;
    width: 20em;
    -moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	background-color: #d1f0e5;
}

.middle-textfield {
    height: 2em;
    width: 10em;
    -moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	background-color: #d1f0e5;
	margin-bottom: 20px;
}

.small-textfield {
    height: 2em;
    width: 5em;
    -moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	background-color: #d1f0e5;
	margin-top: 20px;
	margin-bottom: 30px;
}

.menjaj {
    padding-top: 40px;
}

.men {
    padding-top: 20px;
}

 .space {
    margin-bottom: 10px;
 }
footer {
    clear:both;
    text-align: center;
    padding-top: 10px;
    padding-bottom:10px;
    background-color: #768D87;
}

div #uporabnik {
    float: left;
    margin-bottom: 50px;
}

div #lokacija {
    float:right;
}

div #gumbi {
    text-align: center;
    padding-bottom: 45px;
}

div #tabela {
    padding-top: 30px;
    padding-bottom: 20px;
}

summary{
    background-color: #c1ebdd;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
}

details {
    text-align: left;
}

h2 {
    color: #478f76;
    font-size: 200%;
}

h3 {
    color: #478f76;
    font-size: 150%;
}

.myButton {
	-moz-box-shadow: 0px 10px 14px -7px #91b8b3;
	-webkit-box-shadow: 0px 10px 14px -7px #91b8b3;
	box-shadow: 0px 10px 14px -7px #91b8b3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
	background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
	background-color:#768d87;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2b665e;
	position: center;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
	background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
	background-color:#6c7c7c;
}
.myButton:active {
	position:relative;
	top:1px;
}