header {
    padding-bottom: 60px;
}

.textfield {
    height: 2em;
    width: 100%;
    border-radius: 4px;
    background-color: #d1f0e5;
    margin-bottom: 20px;
    margin-top: 5px;
}

.reg {
    text-decoration: underline;
    color: black;
}

body {
    background-color: #daf3ea;
}

html,
body {
    height: 100%;
    margin: 0;
}

.prijava {
    height: 100%;
    display: flex;
}

form {
    padding: 25px 25px 25px 25px;
    background-color: #66cdaa;
    text-align: center;
}

@media (max-width: 490px) {
    #prijava {
        height: 30%
    }
}